burro:
  heartbeat: 10
  throttler: true
  rules:
    - delay: 1
      src_rse: T2_US_SDSC
      dst_rse: T2_US_Caltech_Test
      src_limit: 5
      size_GB: 1
      n_transfers: 10
      priority: 2
    - delay: 15
      src_rse: T2_US_Caltech_Test
      dst_rse: T2_US_Caltech_Test1
      src_limit: 10
      dst_limit: 7
      size_GB: 2
      n_transfers: 20
      priority: 1
dmm:
  host: localhost
  port: 5000
  authkey: /Users/jguiang/Projects/rucio-sense-dmm/dummykey
nonsense:
  host: localhost
  port: 8000
  profile_uuid: ddd1dec0-83ab-4d08-bca6-9a83334cd6db
  sites:
    - name: T2_US_SDSC
      full_uri: urn:ogf:t2.ucsd.edu:nrp-dev:T2_US_SDSC
      root_uri: urn:ogf:t2.ucsd.edu:nrp-dev
      port_capacity: 1000000
      ipv6_subnet_pool: 2001:48d0:3001:111::/64,2001:48d0:3001:112::/64,2001:48d0:3001:113::/64
    - name: T2_US_Caltech_Test
      full_uri: urn:ogf:network:ultralight.org:2013:T2_US_Caltech_Test
      root_uri: urn:ogf:network:ultralight.org:2013
      port_capacity: 1000000
      ipv6_subnet_pool: 2605:d9c0:2:fff1::/64,2605:d9c0:2:fff2::/64,2605:d9c0:2:fff3::/64
    - name: T2_US_Caltech_Test1
      full_uri: urn:ogf:network:ultralight1.org:2013:T2_US_Caltech_Test1
      root_uri: urn:ogf:network:ultralight1.org:2013
      port_capacity: 1000000
      ipv6_subnet_pool: 2605:d9c0:2:fff4::/64,2605:d9c0:2:fff5::/64,2605:d9c0:2:fff6::/64
    - name: k8s-igrok-01
      full_uri: urn:ogf:network:calit2.optiputer.net:2020:prism-core:k8s-igrok-01
      root_uri: urn:ogf:network:calit2.optiputer.net
      port_capacity: 1000000
      ipv6_subnet_pool: blah
    - name: k8s-igrok-02
      full_uri: urn:ogf:network:calit2.optiputer.net:2020:prism-core:k8s-igrok-02
      root_uri: urn:ogf:network:calit2.optiputer.net
      port_capacity: 1000000
      ipv6_subnet_pool: blah
vsnet:
  host: localhost
  port: 9000
  time_dilation: 100.0
